CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_EGF_SBC_MX6ULL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/egf/sbc/ddr_mx6/WID0569_AA01.01.cfg,WID=\"WID0569_AA01.01\",SYS_BOOT_SPINOR"
CONFIG_CMD_GPIO=y
CONFIG_HUSH_PARSER=y
CONFIG_CONSOLE_EXTRA_INFO=y
CONFIG_VIDEO_LOGO=y

CONFIG_OF_LIBFDT=y
CONFIG_OF_SYSTEM_SETUP=y
CONFIG_OF_CONTROL=y

CONFIG_BOARD_LATE_INIT=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_FS_FAT=y
CONFIG_FS_FAT_MAX_CLUSTSIZE=65536
CONFIG_DM_REGULATOR=y