CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_TARGET_EGF_EVB_MX7=y
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/egf_evb_mx7/ddr_mx7/WID0575_AA01.02.cfg,WID=\"WID0575_AA01.02\",MX7D,SYS_BOOT_SPINOR"
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
